<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../botaoCadastro/botao.css">
    <title>Document</title>
</head>

<body>
    <main>
        <header>
            <nav class="logo">
                <img class="logoIcon" src="../../assets/images/icon.svg" alt="">
                <h1 class="logoNome">Lume</h1>

                <button class="menu-hamburger" id="btn-mobile">
                    <img src="../../assets/images/menu hamburguers.svg" alt="Abrir Menu">
                </button>

                <ul class="opcoes" id="menu-opcoes">
                    <li class="item"> <a href="#">Início</a></li>
                    <li class="item"> <a href="#">Cardápio</a></li>
                    <li class="item"> <a href="#">Nossa História</a></li>
                    <li class="item"> <a href="#">Contato</a></li>
                </ul>

                <button type="submit" class="btn item-btn">Cadastre-se</button>

                
            </nav>
        </header>
    </main>

    <script src="header.js"></script>
</body>

</html>
